<form class="create-game-form" action="/game/create" method="post">
  <button type="button" onclick="closeModal()">Cancel</button>
  <div>
    <label for="title">game title: </label>
    <input type="text" name="title" id="title" />
    <label for="publish_date">publish date: </label>
    <input type="text" name="publish_date" id="publish_date" />
    <label for="rating">Age rating: </label>
    <input type="number" name="rating" id="rating" />
  </div>
  <button type="submit">submit</button>
</form>
