<form
  id="create-game-form"
  class="modal-form"
  action="/game/create"
  method="post"
>
  <div class="modal-form-inputs">
    <label for="title"
      >game title:
      <input type="text" name="title" id="title" required />
    </label>
    <label for="publish_date"
      >publish date:

      <input type="date" name="publish_date" id="publish_date" />
    </label>
    <label for="rating"
      >Age rating:

      <input type="number" name="rating" id="rating" />
    </label>
    <% if (locals.studios) { %>
    <label for="studio_id">
      Which studio made the game:

      <select name="studio_id" id="studio_id" required>
        <option value="">--Please choose a studio--</option>
        <% studios.forEach(studio => { %>
        <option value="<%= studio.id %>"><%= studio.name %></option>
        <% }) %>
      </select>
    </label>
    <% } %> <% if (locals.genres) { %>
    <label for="genre_name">
      Select game genre:

      <select name="genre_name" id="genre_name">
        <option value="">--Please choose a genre--</option>
        <% genres.forEach(genre => { %>
        <option value="<%= genre.name %>"><%= genre.name %></option>
        <% }) %>
      </select>
    </label>
    <% } %>
  </div>
</form>
<!-- TODO: Make age ratings a drop down -->
