html {
  height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.modal-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.modal-form-inputs > label {
  display: flex;
  flex-direction: column;
}
.content {
  min-height: 100%;
  justify-items: center;
}

.content > * {
  margin: 0 1rem 1rem;
}

.games-header {
  background-color: lightgray;
}

.add-game-btn {
  justify-self: center;
  font-size: 3rem;
  aspect-ratio: 1 /1;
  color: white;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
}

.add-game-btn a {
  color: white;
  text-decoration: none;
  align-items: center;
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.game-rating {
  text-align: center;
  justify-content: center;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

main > * {
  margin: 1rem;
}
main {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
}
.game-row {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr 1fr 1fr;
  min-width: 100%;
  border-bottom: 1px lightgray solid;
}

.update-game-btn,
.delete-game-btn {
  place-self: center;
  margin: 0;
}

/* .game-row {
  display: flex;
  gap: 1rem;
  padding: 1rem;
} */

.game-row > * {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.5rem;
}

footer {
  background-color: black;
  color: white;
  padding: 1rem;
}
footer > a {
  text-decoration: underline;
}
